<ion-content>
  <div class="consent-title">
    <center>
      <h4>Traceur de Mobilité / Fabrique des Mobilités / VERSION TEST PHASE 2</h4>
    </center>
  </div>
  <div class="consent-text">
    <h3>Contexte et objectifs</h3>
    Cette application est développée dans le cadre d’un projet soutenu par la Fabrique des Mobilités, décrit ici : <a href="https://oultim.frama.site" target="_blank">https://oultim.frama.site</a>
    <div class="intro-space"></div>
    Le développement réutilise les logiciels développés par Shankari K. à l’Université de Berkeley publiés sous licence libre sur <a href="https://github.com/emission" target="_blank">https://github.com/emission</a>
    <div class="intro-space"></div>
    A ce stade du projet, l’application est une VERSION DE TEST qui a pour objectif de faire évaluer les logiciels d’e-mission au printemps 2019 et la faisabilité de les adapter pour répondre aux cas d'usages qui intéressent les testeurs.
    <br>
    Le serveur mis en place par ICIA Technologies dans le cadre de la démo n’offre aucune garantie particulière de niveau de service ; l’application est diffusée aux testeurs mais n’est pas encore publique.
    <div class="intro-space"></div>
    En créant un compte sur l’application, l’utilisateur prend connaissance du contexte du projet décrit ici et doit en accepter les conditions d’utilisation pour s'en servir.
    <div class="intro-space"></div>

    <h3>Données recueillies</h3>
    L’appli recueille position, accélération et l’activité détectée automatiquement par le smartphone (mode de transport), ainsi que l’usage de la batterie.
    L'utilisateur (vous) peut également compléter certaines informations (mode, motif, incident à la fin d'un trajet) et répondre à des enquêtes via LimeSurvey (qui est hébergé sur notre serveur).
    IL FAUT ACCEPTER les permissions d'accès demandées par l'appli, notamment l'accès aux données de localisation du téléphone, même quand l'appli est fermée (elle fonctionne alors en tâche de fond), sinon l'application ne peut pas fonctionner.
    
    <h3>Identification des utilisateurs</h3>
    Pour se connecter, il faut fournir un nom d'utilisateur valide, qui sera attaché à un identifiant unique avec toutes les données recueillies.
    L'utilisateur pourra aussi prochainement accéder à un outil de visualisation des données depuis un navigateur (grfmap).

    <h3>Usage des données</h3>
    - les utilisateurs peuvent télécharger leurs données individuelles et demander à ce qu'on supprime leur compte<br>
    - les utilisateurs peuvent consulter leurs données via l'application<br>
    - l'équipe projet (les administrateurs) a accès à l'ensemble des données (elles ne sont pas cryptées)<br>
    - les données sont utilisées uniquement pour le test, ne seront pas diffusées à des tiers, ni utilisées pour aucune étude<br>
    - les données seront supprimées à l'issue des tests<br>
    <div class="intro-space"></div>
    L’équipe projet a accès à l’ensemble des données des utilisateurs et les utilise à des fins de test technique, aucune analyse particulière des données de mobilité n’est réalisée ; les données ne sont pas transmises à des tiers et seront détruites 90 jours après le début de la période de test.

    <h3>Questions</h3>
    Pour toutes questions merci d’avance de nous contacter : <a href="https://oultim.frama.site/contact" target="_blank">https://oultim.frama.site/contact</a>

    <div class="row" style="margin-top: 20px;" translate-namespace="consent">
      <div class="col" style="margin-right: 5px">
        <button class="button button-block button-assertive button-outline" ng-click="disagree()" id="consent-button"><span translate>{{'.button-decline'}}</span></button>
      </div>
      <div class="col" style="margin-left: 5px">
        <button class="button button-block button-positive button-outline" ng-click="agree()" id="consent-button"><span translate>{{'.button-accept'}}</span></button>
      </div>
    </div>
  </div>
  <div class="consent-space"></div>
</ion-content>
